@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*  side nav-menu  */
.side-nav-menu{
    float: left;

    width: 20%;
    height: 100%;
}
.side-nav-menu ul{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
}

.side-nav-menu ul li a{
    display: flex;
    align-items: center;
    color: black;
    font-family: raleway;
    font-size: 14px;
    font-weight: bold;
}

.side-nav-menu ul li a:hover{
    color: grey;
}

.nav-logo {
    margin-top: 20px;
    margin-left: 10px;
    height: 25px;
}

/* main container  */



.main-header {
    background-color: white;
    
    padding-right: 30px;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;

}

h3 {
    font-family: raleway;
    font-weight: bold;
    padding: 10px;
}

/* main content container */
.main-content {
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 260px 260px;

    width: 100vw;
}

/* big image container*/
.main-img {
    border: 1px solid black;
    background-color: aqua;

    background-image: url(./pictures/lidiya-pavlikova-y_gKWLrw3N4-unsplash.jpg);
    background-size: cover;
}
/* main article container */
.main-content{
    background-color: palevioletred;
    border: 1px solid black;

    grid-row-start: 2;
    grid-row-end: span 2;
}

.text-box {
    font-family: raleway;
    
    border: 1px solid black;
    background-color: greenyellow;

    height: 550px;
}

h1 {
    font-size: 24px;
    padding: 10px;
}

h2{
    font-size: 20px;
    font-weight: 400;

    padding: 10px;
}

p {
    padding: 10px;
}

/* bottom article header */

.bottom-img-header{
    border: 1px solid black;
    background-color: goldenrod;
    height: 90px;
    width: 50%;

    position: fixed;
    bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 

.prof-info {
    padding: 10px;
}

/* bottom nav mobile*/

.bottom-nav {
    background-color: white;

    height: 50px;
    width: 100%;

    position: fixed;
    bottom: 0;
}

.bottom-nav ul{
    display: flex;
    justify-content: space-between;
}

 /* bottom nav big-screen*/
 
.end {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(197, 192, 192);
    background-color: white;

    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.text-bottom ul{
    display: flex;
    gap: 1rem;
}

.text-bottom ul li a{
    color: gray;
    font-family: raleway;
    font-size: 14px;
}
.text-bottom ul li a:hover {
    color: lightgray;
}
.end p{
    font-family: raleway;
    font-size: 12px;
    color: rgb(156, 153, 153);
}

.text-bottom {
    width: 90%;
    padding-left: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  Images and logos  */

.main-header-logo{
    height: 30px;
}
.add-icon {
    height: 25px;
}

.prof, .nav-prof, .prof-header2{
    border-radius: 50%;
    margin: 10px;
}

.nav-icon, .nav-icon-side{
    padding: 10px;
}

.profile-pic{
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

/*  Layout responsive  */

@media (max-width: 800px) {
    .side-nav-menu, h3, .menu-text, .mini-logo, .end, .date{
        display: none;
    }
    .container {
        width: 100%;
    }
    .main-header {
        padding: 10px;
    }

    .bottom-img-header{
        width: 100%;
    }
   
}

@media (min-width: 800px) {

    .main-header-logo, .add-icon, .bottom-nav, .nav-icon, .prof{
        display: none;
    }

    .main-header {
        grid-column-start: 1;
        grid-column-end: 3;
        border-bottom: 2px solid gray;
    }

    .bottom-nav {
        grid-column-start: 1;
        grid-column-end: 3;   
    }
    .side-nav-menu {
        height: 100%;
    }

    .text-box {
        width: 50%;
        margin-left: 15%;
   }

   .container {
    display: grid;
    grid-template-columns: 1fr;
    
  }

  .prof-info {
    margin-left: 250px;
}

