@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*  side nav-menu  */
.side-nav-menu{
    float: left;

    width: 20%;
    height: 100%;
}
.side-nav-menu ul{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
}

.side-nav-menu ul li a{
    display: flex;
    align-items: center;
    color: black;
    font-family: raleway;
    font-size: 14px;
    font-weight: bold;
}

.side-nav-menu ul li a:hover{
    color: grey;
}

.nav-logo {
    margin-top: 20px;
    margin-left: 10px;
    height: 25px;
}

/* main container  */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 400px 400px 400px 400px 50px;

    border: 1px solid gray;
    float: right;

    
    width: 80%;
    height: 100%;
}

.main-header {
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;

}

h3 {
    font-family: raleway;
    font-weight: bold;
    padding: 10px;
}

/* bottom nav */

.bottom-nav {
    background-color: white;

    position: sticky;
    bottom: 0;
}

.bottom-nav nav ul{
    display: flex;
    justify-content: space-between;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(197, 192, 192);
    background-color: white;

    position: fixed;
    bottom: 0;
    height: 50px;
    width: 1600px;
}

.end nav ul{
    display: flex;
    gap: 1rem;
}

.end nav ul li a{

    color: gray;
    font-family: raleway;
    font-size: 14px;
}

.end nav ul li p:last-child {
    align-self: flex-end;
}

.end nav ul li a:hover {
    color: lightgray;
}

.end p{

    font-family: raleway;
    font-size: 12px;
    color: lightgrey;

    display: flex;
    margin-left: auto;
}

/*  Image header  */

.image-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: raleway;
    font-size: 12px;

    gap: 1rem;
    background-color: white;
    height: 50px;
    padding: 10px;
}

.left {
    display: flex;
    gap: 1rem;
}
.right {
   padding: 5px;
}

/*  Images and logos  */

.main-image1 {
    background-image: url(./pictures/rodolfo-marques-VXdFTakRmDI-unsplash.jpg);
    background-size: cover;
}
.main-image2 {
    background-image: url(/pictures/jasmine-huang-RSQmXaCUvn0-unsplash.jpg);
    background-size: cover;
}
.main-image3 {
    background-image: url(/pictures/lidiya-pavlikova-y_gKWLrw3N4-unsplash.jpg);
    background-size: cover;
}
.main-image4 {
    background-image: url(./pictures/sebastian-coman-photography-QcerUj-jYig-unsplash.jpg);
    background-size: cover;
}

.main-header-logo{
    height: 30px;
}
.add-icon {
    height: 25px;
}

.prof, .nav-prof{
    border-radius: 50%;
    margin: 10px;
}

.nav-icon, .nav-icon-side{
    padding: 10px;
}


/*  Layout responsive  */

@media (max-width: 800px) {
    .side-nav-menu, h3, .menu-text, .mini-logo, .end{
        display: none;
    }
    .container {
        width: 100%;
    }
}

@media (min-width: 800px) {

    .main-header-logo, .add-icon, .bottom-nav, .nav-icon, .prof{
        display: none;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 350px 350px 50px;
        gap: 1rem;
        padding-left: 200px;
        padding-right: 200px;
    }

    .image-header{
        opacity: 0.8;
    }

    .main-header {
        grid-column-start: 1;
        grid-column-end: 3;
        border-bottom: 2px solid gray;
    }

    .bottom-nav {
        grid-column-start: 1;
        grid-column-end: 3;
       

    }
    .side-nav-menu {
        height: 100%;
    }
}
