* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .header {
    width: 100vw;
    height: 80px;
    padding: 10px;
    border: 1px solid black;
  
    display: flex;
    align-items: center;
  
  }
  
  .nav-sec  {
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  
  .nav-menu {
    border: 1px solid black;
  }
  
  .nav-menu ul {
    display: flex;
    justify-content: space-between;
  
    list-style: none;
    text-decoration: none;
    padding: 5px;
  }
  
  .nav-menu ul li a{
    color: black;
  
  }
  
  .nav-menu ul li a:hover {
    color: grey;
  }
  
  @media all and(max-width: 600px){
    .nav-sec {
      
      
    }
  }
  



  .rubrik {

    text-align: center;
  }
  
  hr{
    width: 20%;
    background-color: darkgray;
    height: 3px;
    margin: auto;
  }
  
  body{
  
  }
  .formplace {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
   width: fit-content;
    border: solid lightgray 2px;
   padding: 2rem;
  
  }
  
  .formplace label {
    margin: 5px 10px 5px 0;
    font-weight: bolder;
  
  }
  
  .formplace input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1.4rem;
    background-color: lightgray;
    font-weight: bolder
  }
  
  .formplace button {
    padding: 10px 10rem;
    background-color: rgb(5, 95, 5);
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    border-radius: 1.4rem;
  }
  
  .formplace button:hover {
    background-color: rgba(5, 95, 5, 0.534);
  }
  
  .formplace textarea {
    background-color: lightgray;
    border: 1px;
    border-radius: 1.4rem;
  }
  
  
  
  
  
  
  @media (max-width: 800px) {
    .formplace input {
      margin: 10px 0;
    }
  
    .formplace {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
/* @media only screen and (max-width: 900px) {} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* this code is for profile.html */

.rubrik {
  text-align: center;
}

hr {
  width: 20%;
  background-color: darkgray;
  height: 3px;
  margin: auto;
}



.formplace {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  width: fit-content;
  border: solid lightgray 2px;
  padding: 2rem;
}

.formplace label {
  /* margin: 5px 10px 5px 0; */
  font-weight: bolder;

}

.formplace input {
  /* vertical-align: middle; */
  margin: 5px 10px 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 1.4rem;
  background-color: lightgray;
  font-weight: bolder
}

.formplace input:focus {
  background-color: red;
}

.formplace button {
  padding: 10px 3.7rem;
  background-color: rgb(5, 95, 5);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  border-radius: 1.4rem;
}

.formplace button:hover {
  background-color: rgba(5, 95, 5, 0.534);
}

.formplace textarea {
  background-color: lightgray;
  border: 1px;
  border-radius: 1.4rem;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .rubrik {
    font-size: 0%;
  }
}






/* this code is for explore.html */

html {
  font-size: 20px;
}

body {
  font-family: sans-serif;
  margin: 1rem;
}


.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile:nth-child(1),
.tile:nth-child(2) {
  grid-column: span 2;
}

.tile:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
  grid-column: span 2;
}

.tile:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.tile:nth-child(7),
.tile:nth-child(8),
.tile:nth-child(9),
.tile:nth-child(10) {
  grid-column: span 2;
}

@media screen and (max-width: 650px) {
  .container {
    display: block;
  }

  .tile {
    margin-bottom: 1rem;
  }
}
