/* @media only screen and (max-width: 900px) {} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rubrik {

  text-align: center;
}

hr{
  width: 20%;
  background-color: darkgray;
  height: 3px;
  margin: auto;
}

body{

}
.formplace {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-top: 40px;
 width: fit-content;
  border: solid lightgray 2px;
 padding: 2rem;

}

.formplace label {
  margin: 5px 10px 5px 0;
  font-weight: bolder;

}

.formplace input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1.4rem;
  background-color: lightgray;
  font-weight: bolder
}

.formplace button {
  padding: 10px 10rem;
  background-color: rgb(5, 95, 5);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  border-radius: 1.4rem;
}

.formplace button:hover {
  background-color: rgba(5, 95, 5, 0.534);
}

.formplace textarea {
  background-color: lightgray;
  border: 1px;
  border-radius: 1.4rem;
}






@media (max-width: 800px) {
  .formplace input {
    margin: 10px 0;
  }

  .formplace {
    flex-direction: column;
    align-items: stretch;
  }
}